# Ambiente Virtual
venv/
.venv/
env/

# Banco de dados (Não envie o db.sqlite3 se ele contiver dados reais de pacientes)
*.sqlite3
marevan.db
db.sqlite3
*.db
*.db-journal
*.db-shm
*.db-wal

# Byte-compiled / pastas do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações do IDE (PyCharm)
.idea/

# Logs e outros
*.log